
@{
	ViewBag.Title = "Xoá Nhân Viên";
}


<div class="box box-danger">
	<div class=" box-body">
		<form action="" class="form-horizontal">
			

			<div class="form-group">
				<label class="control-label col-sm-2">Họ Đệm:</label>
				<p class="col-sm-10 form-control-static">Dương Tấn</p>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Tên:</label>
				<p class="col-sm-10 form-control-static">Dũng</p>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Ngày Sinh:</label>
				<p class="col-sm-10 form-control-static">24/11/2001</p>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Email:</label>
				<p class="col-sm-10 form-control-static">dtdung241101@gmail.com</p>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Ghi Chú:</label>
				<p class="col-sm-10 form-control-static">Cao 1m75, Nặng 75kg</p>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Ảnh:</label>
				<img style="margin:0px" class="profile-user-img img-responsive img-bordered" src="https://c.pxhere.com/photos/b8/cc/Beard_Books_Businessman_CC0_Photos_Coffee_Free_Images_Free_Photos_Freelance-1616971.jpg!d">
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Đồng ý xoá</button>
					<a href="~/Employee" class="btn btn-warning"> Quay Lại</a>
				</div>
			</div>
		</form>
	</div>
</div>

