
@{
    ViewBag.Title = "Đổi Mật Khẩu";
}

<div class=" box box-primary">
    <div class=" box-body">
        <form action="~/Account/ChangePassword" method="post">
            @{
                var userAccount = Converter.CookieToUserAccount(User.Identity.Name);
            }
            <div class="form-group">
                <label>Mật Khẩu Cũ:</label>
                <input name="oldPassWord" type="password" class="form-control" placeholder="Nhập Mật Khẩu Cũ">
            </div>

            <div class="form-group">
                <label>Mật Khẩu Mới:</label>
                <input name="newPassWord" type="password" class="form-control" placeholder="Nhập Mật Khẩu Mới">
            </div>
            <div class="form-group">
                <label>Xác Nhận Mật Khẩu Mới:</label>
                <input name="confirmNewPassWord" type="password" class="form-control" placeholder="Nhập Lại Mật Khẩu Mới">
            </div>
            <div class="form-group">
                @Html.ValidationMessage("", new { @style = "color:#f00" })
            </div>
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu Dữ Liệu</button>
            <a href="~/Home" class="btn btn-warning"> Quay Lại</a>
        </form>
    </div>
</div>


