@model _19T1021044.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản Lý Người Giao Hàng";
}


<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <form id="formSearch" action="~/Shipper/Search">
            <div class="input-group">
                <input type="hidden" name="PageSize" value="@Model.PageSize" />
                <input type="text" name="searchValue" class="form-control" placeholder="Search" value="@Model.SearchValue">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit" style="margin-right:4px">
                        <i class="glyphicon glyphicon-search"></i>Tìm Kiếm
                    </button>
                    <a href="~/Shipper/Create" class="btn btn-success btn-flat">
                        <i class="glyphicon glyphicon-plus"></i>Bổ Sung
                    </a>
                </div>
            </div>
        </form>
        <div id="searchResult"></div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();//ngăn chặn hành động mặc định của form
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>

}


