
@{

}


<div class=" box box-primary">
	<div class=" box-body">
		<form action="">
			<div class="form-group">
				<label>Tên Khách Hàng:</label>
				<input type="text" class="form-control" id="CustomerName" name="CustomerName" autofocus>
			</div>

			<div class="form-group">
				<label>Tên Liên Hệ:</label>
				<input type="text" class="form-control" id="ContactName" name="ContactName" autofocus>
			</div>

			<div class="form-group">
				<label>Địa Chỉ:</label>
				<input type="text" class="form-control" id="Address" name="Address" autofocus>
			</div>

			<div class="form-group">
				<label>Email:</label>
				<input type="text" class="form-control" id="Email" name="Email" autofocus>
			</div>

			<div class="form-group">
				<label>Quốc Gia:</label>
				<select class="form-control" id="Country" name="Country" autofocus>
					<option>--Chọn Quốc Gia--</option>
					<option>Việt Nam</option>
					<option>Lào</option>
				</select>
			</div>

			<div class="form-group">
				<label>Thành Phố:</label>
				<input type="text" class="form-control" id="City" name="City" autofocus>
			</div>

			<div class="form-group">
				<label>Mã Bưu Chính:</label>
				<input type="text" class="form-control" id="PostalCode" name="PostalCode" autofocus>
			</div>
			<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu Dữ Liệu</button>
			<a href="~/Customer" class="btn btn-warning"> Quay Lại</a>
		</form>
	</div>
</div>

